@model AutomobileCMS.Models.LoginVM
@User.Identity.Name
@if (User.IsInRole("Admin"))
{
    @*foreach(var i in User.Claims)
        {
            <p>i</p>
        }*@
    Context.User.FindFirst("role");
}
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="About" data-ajax="true"
      data-ajax-method="post"
      data-ajax-confirm="true"
      data-ajax-update="#xyz"
      data-ajax-begin="begin"
      data-ajax-success="success"
      data-ajax-failure="failure"
      data-ajax-complete="complete"
      data-ajax-mode="InsertAfter">
    <div class="form-group row">
        @if (!String.IsNullOrEmpty(Model.username))
        {
            <label asp-for="username" class="col-md-4 control-label"></label>
            <div id="xyz" class="col-md-4">
                <input asp-for="username" type="text" class="form-control" readonly="@(Model.CurrentStatus.Equals(Stages.WalkinInward))" />
            </div>
        }
    </div>
    <div class="form-group row">
        <label class="col-md-4 control-label" asp-for="Password"></label>
        <div class="col-md-4">
            <input type="text" asp-for="Password" class="form-control" />
        </div>
    </div>
    <div class="float-right">
        <button class="btn btn-primary">Submit</button>
    </div>
    <div id="Results"></div>
</form>
<script src="~/js/site.js">
</script>