@model CookieLogin.Models.LoginVM
@User.Identity.Name
@if (User.IsInRole("Admin"))
{
    @*foreach(var i in User.Claims)
        {
            <p>i</p>
        }*@
    Context.User.FindFirst("role");
}
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="PostIndex" method="post">
    <div class="form-group row">
        <label asp-for="username" class="col-md-4 control-label"></label>
        <div class="col-md-4">
            <input asp-for="username" type="text" class="form-control" />
        </div>
    </div>
    @*<div class="form-group row">
        <label class="col-md-4 control-label" asp-for="Password"></label>
        <div class="col-md-4">
            <input type="text" asp-for="Password" class="form-control" />
        </div>
    </div>*@
    <div class="float-right">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>