@model AutomobileCMS.Areas.Home.ViewModels.LoginVM
<h2 class="text-center">Login Form</h2>


@*<div class="modal-dialog">
    <div class="modal-content p-4">
        <form asp-action="Login">
            <div class="row">
                <label asp-for="UserName" class="col-md-4"></label>
                <div class="col-md-8">
                    <input type="text" asp-for="UserName" class="form-control" />
                </div>
            </div>
            <div class="row mt-1">
                <label asp-for="Password" class="col-md-4"></label>
                <div class="col-md-8">
                    <input type="text" asp-for="Password" class="form-control" />
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-12 d-flex">
                    <button class="btn btn-primary ml-auto">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>*@

